.icon {
    color: #FF6262;
}

#login {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 40rem;
    height: 32rem;
    border-radius: 15px;

}

.head {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #FF6262;
    padding: 2rem;
    color: white;
    text-align: center;

}

.head span {
    font-family: 'Segoe UI light';
}

.holder {
    margin: auto;
    text-align: center;
    width: fit-content;
    block-size: fit-content;
}


.holder .username {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    width: 20rem;
    height: 3rem;
    padding: 1rem;
    margin-top: 2rem;
}

.holder .password {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    width: 20rem;
    height: 3rem;
    padding: 1rem;
    margin-top: 3rem;
}

.login-btn{
    border-radius: 8px;
    background-color: #628EFF;
    border: none;
    color: white;
    width: 8rem;
    height: 2.5rem;
}

@media only screen and (max-width: 669px) {
    #login {
      width: 30rem;
    }
  }