.icon {
    color: #FF6262;
}

#id {
    font-size: 3rem;
    font-weight: bold;
}

body {
    background-color: #F9F9F8;
}

.tab {
    border-bottom: 1px solid #8A8A8A;
}

.tab li button{
    padding: 10px;
    transition:0.5s;
    border:none;
    border-top-left-radius:5px;
   border-top-right-radius:5px;
}

.tab li button .active{
    color:white;
}


.tab li .tablinks:hover {
    background-color: #ff9797;
    border-top: 1px solid #8A8A8A;
    border-left: 1px solid #8A8A8A;
    border-right: 1px solid #8A8A8A;
}


.form-general {
    background-color: white;
    border: 1px solid #8A8A8A;
    border-radius: 18px;
    padding: 2rem;
    animation: fadeEffect 1s;
}

.form-detail {
    background-color: white;
    border: 1px solid #8A8A8A;
    border-radius: 18px;
    padding: 2rem;
    animation: fadeEffect 1s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.user-avatar-shadow {
    background-image: url('../assets/avatardemo.jpg');
    display: block;
    width: 9em;
    height: 9em;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 6px solid #FF6262;
    box-shadow: inset 0px 0px 3px 3px rgb(0 0 0 / 10%);
    object-fit: cover;
    transition:0.3s;
}

.user-avatar-shadow:hover{
    background-color:white;
    opacity:0.6;
}

.vertical-align-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.save{
    border-radius: 8px;
    background-color: #628EFF;
    border: none;
    color: white;
    width: 8rem;
    height: 2.5rem;
    transition:0.5s;
}

.save:hover{
    background-color: #3769e8;
    transform:scale(1.1);
}

.customer-input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nav-link {
    padding: .25rem 0;
    font-weight: 500;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    transition: 0.5s;
    font-size: 1.2rem;
    border-bottom: .25rem solid rgba(255, 255, 255, .5);
}

.navbar-user-avatar {
    height: 56px;
    width: 56px;
    object-fit: cover;
    background-color: #2c323e;
    border: 3px solid #586275;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.5s;
}

    .navbar-user-avatar:hover {
        border-color: #FF6262;
    }
