.icon {
    color: #FF6262;
}

body {
    width: 50%;
    height: 100%;
    background-color: #FF6262;
    position: fixed;
    bottom: 0;
    transform: skewX(50 deg);
}

#signup {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 40rem;
    height: 40rem;
    border-radius: 15px;
}

input {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    width: 20rem;
    height: 3rem;
    padding: 1.5rem;
    margin: 3rem;
    border-radius: 12px;
}


.head {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #FF6262;
    padding: 2rem;
    color: white;
    text-align: center;
}

.head span {
        font-family: 'Segoe UI light';
    }

.holder {
    margin: auto;
    text-align: center;
    width: fit-content;
    block-size: fit-content;
}




button {
    border-radius: 8px;
    background-color: #628EFF;
    border: none;
    color: white;
    width: 8rem;
    height: 2.5rem;
    transition: 0.5s;
}

button:hover{
    background-color: #3769e8;
    transform:scale(1.1);
}


@media only screen and (max-width: 669px) {
    #signup {
        width: 30rem;
    }
}
