.icon {
    color: #FF6262;
}

main {
    background-color: #F9F8F8;
}

#id {
    font-size: 3rem;
    font-weight: bold;
}

.header-image {
    position: relative;
    width: 100%;
    height: auto;
}

.masthead h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 5rem;
    color: white;
}

.masthead p {
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.masthead {
    height: 50vh;
    min-height: 500px;
    background-image: url('../assets/headerimage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
}

.layer{
    opacity:0.5;
    background-color:black;
    top:0;
    left:0;
    width:100%;
}

.header-text span {
    position: absolute;
}

button.btn-join {
    background: #FF6262;
    width: 14rem;
    height: 4rem;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

button.btn-join:hover {
    color: white;
    transition: 0.4s;
    background-color: #c64040;
}

.btn-readmore {
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 500;
    width: 14rem;
    height: 4.1rem;
}

.card-body h1{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-body p{
    font-family: 'SEGOE UI Light';
}

.card-body span{
    color: #EE2E2E; 
    font-size:0.9rem;
    margin-top:10px;
    margin-bottom:10px;
    font-family:'SEgoe UI Light';
}

.card-body a {
    color: #EE2E2E;
}

.card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 2rem;
}

.big-card p{
    font-family: 'Segoe UI light';
}

#carousel{
    text-align: center;
    background-color: #FF6262;
}

.carousel-item{
    padding: 7% 15%;

}

#carousel h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

#carousel p{
    color: white;
    font-family: 'Segoe UI Light';
}

.footer {
    position:absolute;
    width:100%;
    white-space:nowrap;
    line-height:60px;
    bottom: 0;
}



#top-volunteer {
    padding: 2rem;
    background-color: #E9E9E9;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}


#top-volunteer hr {
    margin: auto;
    height: 4px;
    color: #F12C2C;
    opacity: 100%;
}

#find-campaign{
    margin-top:10rem;
    margin-bottom:10rem;
}

    #find-campaign hr {
        height: 4px;
        color: #F12C2C;
        opacity: 100%;
    }


    #find-campaign input {
        padding: 0.5rem;
        margin: 1rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border:none;
    }

.description {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    width: 27rem;
    height: 15rem;
    margin:1rem;
}

.top {
    background-color: white;
    border: 1px solid #8A8A8A;
    border-radius: 18px;
    padding:3rem;

}

.continue-btn {
    border-radius: 8px;
    background-color:#628EFF ;
    border: none;
    color: white;
    width: 8rem;
    height: 2.5rem;
    transition: 0.5s;
}

.continue-btn:hover{
    background-color: #3769e8;
    transform: scale(1.1);
}

.declaration {
    border: 1px solid #B0B0B0;
    padding:2rem;
}

.declare-head {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 2rem;
    color: white;
    text-align: center;
    background-color: #628EFF;
}








