.icon {
    color: #FF6262;
}

.container {
    animation: fadeEffect 1s;
}

.lead{
    text-align:center;
}

main {
}

p {
    text-align: justify;
}

.nav-link {
    padding: .25rem 0;
    font-weight: 500;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    transition: 0.5s;
    font-size: 1.2rem;
    transition: 0.3s;
    border-bottom: 3px solid #ff626200 ;
}
.nav-link:hover{
    border-bottom:3px solid #FF6262;
}

.navbar-custom {
    position: sticky;
    top:0;
}

#id {
    font-size: 3rem;
    font-weight: bold;
}

.header-image {
    position: relative;
    width: 100%;
    height: auto;
}

.masthead h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 5rem;
    color: white;
}

.masthead p {
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.masthead {
    height: 50vh;
    min-height: 500px;
    background-image: url('../assets/headerimage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
}

.banner {
    height: 20vh;
    min-height: 300px;
    background-image: url('../assets/campaignbanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.banner h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: white;
}

.layer{
    opacity:0.5 ;
    background-color:black;
    top:0;
    left:0;
    width:100%;
}

.header-text span {
    position: absolute;
}

a.btn-join {
    background: #FF6262;
    padding-top:18px;
    width: 14rem;
    height: 4rem;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

a.btn-join:hover {
    color: white;
    transition: 0.4s;
    background-color: #c64040;
}

a.btn-readmore {
    padding-top:18px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    width: 14rem;
    height: 4.1rem;
}

.card-body h1{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-body p{
    font-family: 'SEGOE UI Light';
}

.card-body span{
    color: #EE2E2E; 
    font-size:0.9rem;
    margin-top:10px;
    margin-bottom:10px;
    font-family:'SEgoe UI Light';
}

.card-body a {
    color: #EE2E2E;
}

.card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 2rem;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.1);
}

.big-card p{
    font-family: 'Segoe UI light';
}

#carousel{
    text-align: center;
    background-color: #FF6262;
}

.carousel-item{
    padding: 7% 15%;

}

#carousel h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

#carousel p{
    color: white;
    font-family: 'Segoe UI Light';
}

.footer {
    position:absolute;
    width:100%;
    white-space:nowrap;
    line-height:60px;
    bottom: 0;
}



#top-volunteer {
    padding: 2rem;
    background-color: #E9E9E9;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}


#top-volunteer hr {
    margin: auto;
    height: 4px;
    color: #F12C2C;
    opacity: 100%;
}

#find-campaign{
    margin-top:10rem;
    margin-bottom:10rem;
}

    #find-campaign hr {
        height: 4px;
        color: #F12C2C;
        opacity: 100%;
    }


    #find-campaign input {
        padding: 0.5rem;
        margin: 1rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border:none;
    }

.description {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    width: 27rem;
    height: 15rem;
    margin:1rem;
}


a.continue-btn {
    border-radius: 8px;
    background-color:#628EFF ;
    border: none;
    color: white;
    width: 8rem;
    height: 2.5rem;
    transition: 0.5s;
    text-decoration:none;
    padding-top:6px;
}

a.continue-btn:hover{
    color:white;
    background-color: #3769e8;
    transform: scale(1.1);
}

.declaration {
    border: 1px solid #B0B0B0;
    padding:2rem;
}

.declare-head {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 2rem;
    color: white;
    text-align: center;
    background-color: #628EFF;
}


.navbar-user-avatar {
    height: 56px;
    width: 56px;
    object-fit: cover;
    background-color: #2c323e;
    border: 3px solid #586275;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition:0.5s;
}

.navbar-user-avatar:hover {
    border-color:#FF6262 ;
}

.top {
    margin-top:50px;
    padding:20px;
    background-color: white;
    border-radius: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.appointment-top span{
    font-size:20px;
}


.appointment-body {
    margin-top: 50px;
    background-color: white;
    font-size: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.appointment-declare {
    font-family: 'Segoe UI';
    display: flex;
    -webkit-box-pack: justify;
    box-sizing: border-box;
    padding: 18px 20px;
    font-size: 16px;
}

.appointment-declare:nth-child(2n+1) {
    background-color: rgb(244, 244, 244);
}



.customer-label > p:nth-child(2) {
    margin-top: 18px;
    width: 60%;
    text-align: right;
    word-break: break-word;
}
.customer-label > p:nth-child(1) {
    margin-top: 18px;
    width: 40%;
    text-align: left;
    white-space: nowrap;
}

.customer-label {
    font-family:'Segoe UI';
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px 20px;
    font-size: 16px;
}

.customer-label .left{
    color: rgb(51, 51, 51);
    font-weight:600;
}


.customer-label:nth-child(2n+1) {
    background-color: rgb(244, 244, 244);
}



/*
    animation part
*/
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.3s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


* {
    padding: 0;
    margin: 0
}


.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 30px auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {
    0%, 100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142
    }
}






