@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Signup Page";
    Layout = "_LayoutLogin";
}

<!-- body -->
<section id="signup" class="mx-auto my-lg-5 my-5">
    <div class="head">
        <h1>Sign Up</h1>
        <span>Welcome</span>
    </div>
    <div class="holder">
        <form action="" method="">
            <input type="text" placeholder="username" class="my-3 mt-5"><br />
            <input type="text" placeholder="email" class="my-3"><br />
            <input type="password" placeholder="password" class="my-3"><br />
            <input type="password" placeholder="confirm password" class="my-3">
            <div class="d-flex justify-content-start mt-4">
                <button type="button" class="login-btn">Sign Up</button>
            </div>
        </form>
        <br>
        <div class="register d-flex justify-content-start">
            <span>Already have an account? <a href="/Login/Login">Login Now</a></span>
        </div>
    </div>
</section>


