@model User
@{
    ViewBag.Title = "Signup Page";
    Layout = "_LayoutLogin";
}

<!-- body -->
<section id="signup" class="mx-auto my-lg-5 my-5">
    <div class="head">
        <h1>Sign Up</h1>
        <span>Welcome</span>
    </div>
    <div class="holder">
        <form method="post" asp-controller="Signup" asp-action="Register">
            <input type="text" asp-for="UserName" placeholder="username" class="my-3 mt-5" required><br />
            <input type="text" asp-for="Email" placeholder="email" class="my-3" required> <br />
            <input type="password" asp-for="Password" placeholder="password" class="my-3" required><br />
            <input type="password" name="confirmedPassword" placeholder="confirm password" class="my-3" required>
            <div class="d-flex justify-content-start mt-4">
                <button type="submit" class="login-btn">Sign Up</button>
            </div>
            <div asp-validation-summary="All"></div>
        </form>
        <br>
        <div class="register d-flex justify-content-start">
            <span>Already have an account? <a href="/Login">Login Now</a></span>
        </div>
        <div class="register d-flex justify-content-start mt-3">
            <span>Register site for Hospital and Red Cross <a href="/Signup/SignupRH">Click here</a></span>
        </div>
    </div>
</section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
