@model User
@{
    ViewBag.Title = "Signup Page";
    Layout = "_LayoutLogin";
}


<section class="ftco-section">
    <div class="container">
        <form method="post" asp-controller="Signup" asp-action="RegisterRH" class="signin-form" enctype="multipart/form-data">

            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <h2>Upload your license</h2>
                                <p>Click below</p>
                                <label for="inputTag" style="cursor: pointer;">
                                    Select File
                                    <input name="File" id="inputTag" type="file" style="display:none;" required />
                                </label>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Register for Admin</h3>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="name">Username</label>
                                <input type="text" asp-for="UserName" class="form-control" placeholder="Username" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="email">Email</label>
                                <input type="text" asp-for="Email" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Password</label>
                                <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>
                                <!--thêm 1 thẻ show ra regex của password-->
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Confirm Passowrd</label>
                                <input type="password" name="confirmedPassword" class="form-control" placeholder="Confirm Password" required>
                            </div>
                            <p class="font-weight-light">Password must be more than 8 characters and contain numbers, normal letters, capital letters and special characters</p>
                            <div class="form-group mb-3">
                                <label class="label" for="role">You are</label>
                                <select class="form-control" name="selectRH">
                                    <option>Hospital Admin</option>
                                    <option>Red Cross Admin</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="address">Hospital/Red Cross Address</label>
                                <input type="text" name="hrAddress" class="form-control" placeholder="Address" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="phone">Hospital/Red Cross Phone</label>
                                <input type="tel" name="hrPhone" class="form-control" placeholder="Phone" required @*pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"*@>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
                            </div>
                            <div asp-validation-summary="All"></div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">
                                        Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#">Forgot Password</a>
                                </div>
                            </div>
                            <div class="register d-flex justify-content-start form-group">
                                <span>Already have an account? <a href="/Login">Login Now</a></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </div>
</section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }