@page
@{
    Layout = "_Layout";
}

<div class="container appointment-top" style="text-align:center">

    <!--Aniamtion tick-->
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>
    <span>You have registed campaign</span>
    <h2 style="color:#628EFF;">Campaign Title</h2>
    <span>30 hoa lac</span><br />
    <span>31/1/2022</span>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5 appointment-body" style="padding:0;">
            <p style="font-weight:600;color:rgb(28, 82, 145);padding:20px 20px;margin-bottom:0;">Campaign Information</p>
            <div class="customer-label">
                <p>Full Name:</p>
                <p class="left">Hoa La Canh</p>
            </div>
            <div class="customer-label">
                <p>ID Card Number:</p>
                <p class="left">030202001234</p>
            </div>
            <div class="customer-label">
                <p>Date of Birth:</p>
                <p class="left">2/2/2001</p>
            </div>
            <div class="customer-label">
                <p>Gender:</p>
                <p class="left">Male</p>
            </div>
            <div class="customer-label">
                <p>Blood Group:</p>
                <p class="left">AB</p>
            </div>
            <div class="customer-label">
                <p>Last Donate Date:</p>
                <p class="left">5/6/2022</p>
            </div>
        </div>
        <div class="col-md-7"></div>
    </div>
    <div class="row">
        <div class="col-md-5 appointment-body" style="padding:0;">
            <p style="font-weight:600;color:rgb(28, 82, 145);padding:20px 20px;margin-bottom:0;">Contact Information</p>
            <div class="customer-label">
                <p>Address:</p>
                <p class="left">s3.01 vinhome, Phường Long Thạnh Mỹ, Quận 9, Tp Hồ Chí Minh</p>
            </div>
            <div class="customer-label">
                <p>Phone Number:</p>
                <p class="left">123456789</p>
            </div>
            <div class="customer-label">
                <p>Email:</p>
                <p class="left">hainam@gmail.com</p>
            </div>
        </div>
        <div class="col-md-7"></div>
    </div>
</div>
