@page
@{
    Layout = "_Layout";
}

<div class="container appointment-top" style="text-align:center">

    <!--Aniamtion tick-->
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>
    <span>You have registed campaign</span>
    <h2 style="color:#628EFF;">Campaign Title</h2>
    <span>30 hoa lac</span><br />
    <span>31/1/2022</span>
</div>
<div class="container">
    <div class="row d-flex justify-content-center ">
        <div class="col-md-6 d-flex flex-column">
            <div class=" appointment-body" style="padding:0;">
                <p style="font-weight:600;color:rgb(28, 82, 145);padding:20px 20px;margin-bottom:0;">Campaign Information</p>
                <div class="customer-label">
                    <p>Full Name:</p>
                    <p class="left">Hoa La Canh</p>
                </div>
                <div class="customer-label">
                    <p>ID Card Number:</p>
                    <p class="left">030202001234</p>
                </div>
                <div class="customer-label">
                    <p>Date of Birth:</p>
                    <p class="left">2/2/2001</p>
                </div>
                <div class="customer-label">
                    <p>Gender:</p>
                    <p class="left">Male</p>
                </div>
                <div class="customer-label">
                    <p>Blood Group:</p>
                    <p class="left">AB</p>
                </div>
                <div class="customer-label">
                    <p>Last Donate Date:</p>
                    <p class="left">5/6/2022</p>
                </div>
            </div>
            <div class="appointment-body" style="padding:0;">
                <p style="font-weight:600;color:rgb(28, 82, 145);padding:20px 20px;margin-bottom:0;">Contact Information</p>
                <div class="customer-label">
                    <p>Address:</p>
                    <p class="left">s3.01 vinhome, Phường Long Thạnh Mỹ, Quận 9, Tp Hồ Chí Minh</p>
                </div>
                <div class="customer-label">
                    <p>Phone Number:</p>
                    <p class="left">123456789</p>
                </div>
                <div class="customer-label">
                    <p>Email:</p>
                    <p class="left">hainam@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 appointment-body" style="padding:0;">
            <p style="font-weight:600;color:rgb(28, 82, 145);padding:20px 20px;margin-bottom:0;">Declaration</p>
            <div class="customer-label">
                <p>1. Have you ever donated blood?</p>
                <p class="left">No</p>
            </div>
            <div class="customer-label">
                <p>
                    2. Do you currently have: arthritis, stomach, hepatitis/jaundice, heart disease,
                    low/high blood pressure, asthma, persistent cough, blood disease, tuberculosis?
                </p>
                <p class="left">No</p>
            </div>
            <div class="customer-label">
                <p>3. In the last 12 months, have you had any diseases and have been cured?</p>
                <p class="left">Received blood and blood products?</p>
            </div>
            <div class="customer-label">
                <p>4. In the last 6 months, have you experienced any of the following symptoms?</p>
                <p class="left">Unexplained rapid weight loss?</p>
            </div>
            <div class="customer-label">
                <p>5. In the last 1 month, have you had</p>
                <p class="left">
                    Cure after urinary tract infection, infectious dermatitis, bronchitis, pneumonia,
                    measles, mumps, Rubella, Other
                </p>
            </div>
            <div class="customer-label">
                <p>6. In the last 07 days have you</p>
                <p class="left">Have a cold (cough, headache, fever...)</p>
            </div>
            <div class="customer-label">
                <p>7. Question for women</p>
                <p class="left">No</p>
            </div>
            <div class="customer-label">
                <p>
                    8. Do you agree to be tested for HIV, to be notified and consulted
                    when HIV test results are suspected or positive?er donated blood?
                </p>
                <p class="left">Yes</p>
            </div>
            <div class="customer-label">
                <p>
                    9. Have you had the Covid vaccine yet?
                </p>
                <p class="left">Yes</p>
            </div>

        </div>
    </div>

    <div class="d-flex justify-content-start">
        <a href="javascript:history.back()" type="button" class="btn continue-btn my-5">Back</a>
        <a href="/Campaign/Appointment" type="button" class="btn continue-btn my-5 mx-2">Home</a>
    </div>
</div>
