@page
@{
    Layout = "_Layout";
}

<div class="container appointment-top" style="text-align:center">

    <!--Aniamtion tick-->
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>
    <span>You have registed campaign</span>
    <h2 style="color:#628EFF;">Campaign Title</h2>
    <span>30 hoa lac</span><br />
    <span>31/1/2022</span>
</div>


<div class="container top">
    <span>Personal Information</span>


</div>
