@page
@model SWP391_HealthCareProject.Controllers.HealthDeclareModel
@{
    //ViewData["Title"] = "Declaration";
    Layout = "_Layout";
}

<div class="container">
    <div class="container top">
        <h1>Health Declaration</h1>
        <span>Let us know your condition</span>

        <div class="card mt-5">
            <div class="card-header" style="color:white;background-color:#628EFF;">
                1. Have you ever donated blood?
            </div>

            <form>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Yes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            No
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-header" style="color:white;background-color:#628EFF;">
                2. Do you currently have: arthritis, stomach, hepatitis/jaundice, heart disease,
                low/high blood pressure, asthma, persistent cough, blood disease, tuberculosis?
            </div>
            <form>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Yes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            No
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-header" style="color:white;background-color:#628EFF;">
                3. In the last 12 months, have you had any diseases and have been cured?
            </div>
            <form>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                           Malaria, Syphilis, Tuberculosis, Encephalitis, Surgical Surgery?
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Received blood and blood products?
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Rabies Vaccine.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            No
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-header" style="color:white;background-color:#628EFF;">
                4. In the last 6 months, have you experienced any of the following symptoms?
            </div>
            <form>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Unexplained rapid weight loss?
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Prolonged lymphadenopathy?
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Tattoo, pierced ears, nostrils.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            No
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-header" style="color:white;background-color:#628EFF;">
                5. In the last 1 month, have you had
            </div>
            <form>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Cure after urinary tract infection, infectious dermatitis, bronchitis, pneumonia, 
                            measles, mumps, Rubella, Other
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Vaccination against disease?
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Going to an endemic area (malaria, dengue fever, Zika, ...)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            No
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-header" style="color:white;background-color:#628EFF;">
                6. In the last 07 days have you
            </div>
            <form>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Have a cold (cough, headache, fever...)?
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Taking antibiotics, aspirin, corticosteroids?
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Vaccinate against Hepatitis B, Human Papilloma Virus.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            No
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-header" style="color:white;background-color:#628EFF;">
                7. Question for women
            </div>
            <form>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Currently pregnant, or nursing a baby under 12 months old?
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Menstruation within a week or not?
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            No
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-header" style="color:white;background-color:#628EFF;">
                8. Do you agree to be tested for HIV, to be notified and consulted when HIV test results are suspected or positive?
            </div>
            <form>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Yes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            No
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-header" style="color:white;background-color:#628EFF;">
                9. Have you had the Covid vaccine yet?
            </div>
            <form>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Yes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            No
                        </label>
                    </div>
                </div>
            </form>
        </div>

        <div class="d-flex justify-content-around">
            <a href="javascript:history.back()" type="button" class="btn continue-btn my-5">Back</a>
            <a href="/Campaign/Appointment" type="button" class="btn continue-btn my-5" style="background-color:#0F9903">Continue</a>
        </div>
    </div>
</div>
