@page
@model SWP391_HealthCareProject.Controllers.HealthDeclareModel
@{
    //ViewData["Title"] = "Declaration";
    Layout = "_Layout";
}

<div class="container" style="background-color:#F9F8F8;padding-top:3rem;">
    <div class="container top">
        <h1 class="my-5">Health Declaration</h1>
        <div class="card">
            <div class="card-header" style="color:white;background-color:#628EFF;">
                1. Have you ever donated blood?
            </div>
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        No
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
