@using SWP391_HealthCareProject.DataAccess;
@model List<SWP391_HealthCareProject.Models.Campaign>
@{
    ViewData["Title"] = "ShowSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="py-5" id="content">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card " style="width: 18rem;">
                    <div class="card-body mt-3">
                        <h1 class="card-title">@item.Name</h1>
                        <p class="card-text">
                            Place: @item.Province<br />
                            Start Date: @item.StartDate.ToString("dd/MM/yyyy")
                        </p>
                    </div>
                    <div class="container mb-4">
                        <a>@Html.ActionLink("Read More","Detail","Campaign",new {id=item.CampaignId}, new {@style = "color: #EE2E2E;"})</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
