@model List<SWP391_HealthCareProject.Models.Campaign>
@{
    ViewBag.Title = "Campaign List";
    Layout = "_Layout";
}

<div class="banner">
    <div class="h-100 layer">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="header-text">Donation Campaign</h1>
                <a href="/Home/PostList" type="button" class="btn btn-outline-light mx-lg-3 mx-md-3 mx-sm-3 mx-3 my-3 btn-readmore">
                    Read More
                </a>
            </div>
        </div>
    </div>
</div>




<section class="py-5" id="content">
    <div class="container">
        <!-- First 3 cards -->
        <div class="row ">
            @foreach (var item in Model)
            {
            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <div class="card " style="width: 18rem;">
                    <img class="card-img-top"
                         src="http://hoichuthapdohanoi.vn/uploads/news/2020_02/hm-xuan-hong2.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <span><i class="fa-regular fa-calendar"></i> 29 April, 2022</span>
                            <span><i class="fa-solid fa-location-dot"></i> @item.Province</span>
                        </div>
                        <h1 class="card-title">@item.Name</h1>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                            <a>@Html.ActionLink("Read More","Detail","Campaign",new {id=item.CampaignId})</a>
                    </div>
                </div>
            </div>
            }           
        </div>
    </div>
</section>