@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}

<!-- Header Image -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="header-text">Blood Donor</h1>
                <p class="lead">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde dicta excepturi iure
                    laboriosam modi repellendus corrupti officia consequatur, veniam labore alias nisi consectetur, id fuga
                    omnis minima natus rerum enim?
                </p>
                <a href="/Home/CampaignList" type="button" class="btn btn-lg btn-join ">Join Now</a>
                <a href="/Home/PostList" type="button" class="btn btn-outline-light mx-lg-3 mx-md-3 mx-sm-3 mx-3 my-3 btn-readmore"
                >
                    Read More
                </a>

            </div>

        </div>

    </div>
</header>

<section class="py-5" id="content">
    <div class="container">
        <!-- First 3 cards -->
        <div class="row ">
            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <div class="card " style="width: 18rem;">
                    <img class="card-img-top"
                         src="https://media.istockphoto.com/photos/offering-patientcentred-care-that-proves-effective-and-efficient-picture-id1301555107?k=20&m=1301555107&s=612x612&w=0&h=Cnj-PabtvN4J6xBVonpez02ub100LmbKDlNPLjy_w9Y="
                         alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title">Post title</h1>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                         src="https://www.eatthis.com/wp-content/uploads/sites/4/2021/09/doctors-face-mask-hospital.jpg?quality=82&strip=1"
                         alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title">Title</h1>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                         src="https://media.istockphoto.com/photos/doctor-holding-digital-tablet-at-meeting-room-picture-id1189304032?k=20&m=1189304032&s=612x612&w=0&h=ovTNnR0JX2cRZkzMBed9exRO_PamZLlysLDFkXesr4Q="
                         alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title">Title</h1>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-4 reveal" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
            <div class="col-lg-7 d-flex justify-content-center">
                <img src="https://npr.brightspotcdn.com/legacy/sites/wmky/files/202106/Blood_Donation-732X549-thumbnail.jpg"
                     class="img-responsive " style="width: 40rem;height: 20rem;object-fit: cover;">
            </div>
            <div class="col-lg-5 big-card ">
                <h1 class="py-4">Title</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos omnis officia et, culpa quaerat
                    accusamus rerum repellendus sapiente iusto fugit, nostrum modi, vero recusandae quam? Eius, laudantium
                    beatae. Amet, sed!
                </p>
                <a href="/Post/Index" class="btn btn-lg btn-join mt-4">Read More</a>
            </div>
        </div>
    </div>

</section>
<section id="carousel">
    <div id="campaigncarousel" class="carousel slide" data-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: #FF6262;">
                <h2>
                    Campaign Title
                </h2>
                <img src="~/assets/imageholder.png" class="img-responsive" style="width: 20rem;">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aut quo cum expedita magnam, optio veritatis! Maiores
                    perferendis, aperiam vero quae nam incidunt ipsa vel ex ipsum! Impedit, non sint?
                </p>
            </div>
            <div class="carousel-item">
                <h2>
                    Campaign Title
                </h2>
                <img src="imageholder.png" class="img-responsive" style="width: 20rem;">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aut quo cum expedita magnam, optio veritatis! Maiores
                    perferendis, aperiam vero quae nam incidunt ipsa vel ex ipsum! Impedit, non sint?
                </p>
            </div>
            <a class="carousel-control-prev" href="#campaigncarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#campaigncarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</section>



<section id="top-volunteer" class="reveal">
    <h1>Top Volunteers</h1>
    <hr width="150px" />
    <div class="row">
        <div class="col-md-4 volunteer d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/imageholder.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 volunteer d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/imageholder.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 volunteer d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/imageholder.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="find-campaign">
    <div class="container reveal">
        <h1>Find A Near By Campaign</h1>
        <hr width="150px" />
        <div class="row">
            <div class="col-md-6">
                <form method="" action="">
                    <input type="text" placeholder="First Name" required />
                    <input type="text" placeholder="Last Name" required />
                    <input type="text" placeholder="Email Address" required />
                    <input type="text" placeholder="City" required />
                    <textarea placeholder="Description" class="description"></textarea>
                    <button class="btn-join my-4 ml-3">Read More</button>
                </form>
            </div>
            <div class="col-md-6">
                <img src="~/assets/findcp.png" />
            </div>
        </div>
    </div>

</section>

<script>
    function reveal() {
  var reveals = document.querySelectorAll(".reveal");

  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;

    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
  }
}

window.addEventListener("scroll", reveal);
</script>