@page
@model SWP391_HealthCareProject.Controllers.SearchCampaignModel
@{
    ViewBag.Title = "Search Campaign";
    Layout = "_Layout";
}



<div class="container top">
    <h1 style="font-weight:600;font-size:3rem;">Time & Location</h1>
    <span style="font-family:'Segoe UI light'">Find campaigns!</span>
    @using(Html.BeginForm("ShowSearch","Campaign",FormMethod.Post))
    {
        <label for="">Date</label>
        <input type="date" class="form-control" name="date" required/>
        <label for="">Location</label>
        <input type="text" class="form-control" name="location" required/>
        <br/>
        <button type="submit" class="continue-btn my-5">Search</button>

    }
</div>
