@model List<SWP391_HealthCareProject.Models.Post>
@{
    ViewData["Title"] = "Post";
    Layout = "_Layout";
}

<div class="container mt-5" style="text-align:center">
    @foreach (var item in Model)
    {
       
            <h1 style="font-weight:600;font-size:3rem;">@item.Title</h1>
            <span style="font-family:'Segoe UI light'">From hospital/red cross</span>
            <br />
            <img src="@item.Img" style="width: 400px;object-fit: contain;" />
            
            <p class="mt-5">
                @item.Description
            </p>
            <a href="#" type="button" class="btn btn-join my-3">Register Campaign</a>

        

    }


</div>
