@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Post";
    Layout = "_Layout";
}

<div class="container" style="background-color:#F9F8F8;padding-top:3rem;">
    <div class="container top">
        <h1 style="font-weight:900;font-size:3rem;margin-top:2rem;">Campaign Title</h1>
        <span style="font-family:'Segoe UI light'">From hospital/red cross</span>
        <p class="mt-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <img src="~/assets/imageholder.png" style="width: 400px;object-fit: contain;" />
        <p class="mt-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </p>

        <button type="button" class="btn  btn-lg btn-join my-5">Register Campaign</button>

    </div>
</div>
