@page
@{
    ViewBag.Title = "RH Profile";
    Layout = "_LayoutAdminRH";
}

<div class="container">
<div class="row">
		<div class="col-12">
			<!-- Page title -->
			<div class="my-5">
				<h3>My Profile</h3>
				<hr>
			</div>
			<!-- Form START -->
			<form class="file-upload">
				<div class="row mb-5 gx-5">
					<!-- Contact detail -->
					<div class="col-xxl-8 mb-5 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Contact detail</h4>
								<!-- First Name -->
								<div class="col-md-6">
									<label class="form-label">First Name</label>
									<input type="text" class="form-control" placeholder="" aria-label="First name" value="Lmao">
								</div>
								<!-- Last name -->
								<div class="col-md-6">
									<label class="form-label">Last Name</label>
									<input type="text" class="form-control" placeholder="" aria-label="Last name" value="Lmao">
								</div>
								<!-- Phone number -->
								<div class="col-md-6">
									<label class="form-label">Office Phone number</label>
									<input class="form-control" type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
								</div>
								<!-- Mobile number -->
								<div class="col-md-6">
									<label class="form-label">Office Name</label>
									<input type="text" class="form-control" placeholder="" value="lmao">
								</div>
								<!-- Email -->
								<div class="col-md-6">
									<label for="inputEmail4" class="form-label">Office Email</label>
									<input type="email" class="form-control" id="inputEmail4" value="example@homerealty.com">
								</div>
								<!-- Skype -->
								<div class="col">
									<label class="form-label">Office Address</label>
									<input type="text" class="form-control" placeholder="" value="Hoa la canh cay">
								</div>
							</div> <!-- Row END -->
						</div>
					</div>
					<!-- Upload profile -->
					<div class="col-xxl-4">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Upload your profile photo</h4>
								<div class="text-center">
									<!-- Image upload -->
										<div id="userAvatar" class="user-avatar-shadow " style="background-image: url('../assets/avatardemo.jpg');">
											<label for="inputTag" style="cursor: pointer;width:131px;height:103px;opacity:0; ">
												Select File
												<input id="inputTag" type="file" style="display:none;" />
											</label>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Row END -->

				<!-- Social media detail -->
				<div class="row mb-5 gx-5">
					<!-- change password -->
					<div class="col-xxl-6">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="my-4">Change Password</h4>
								<!-- Old password -->
								<div class="col-md-6">
									<label for="exampleInputPassword1" class="form-label">Old password *</label>
									<input type="password" class="form-control" id="exampleInputPassword1">
								</div>
								<!-- New password -->
								<div class="col-md-6">
									<label for="exampleInputPassword2" class="form-label">New password *</label>
									<input type="password" class="form-control" id="exampleInputPassword2">
								</div>
								<!-- Confirm password -->
								<div class="col-md-12">
									<label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
									<input type="password" class="form-control" id="exampleInputPassword3">
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Row END -->
				<!-- button -->
				<div class="gap-3 d-md-flex justify-content-md-start text-center">
					<button type="button" class="btn btn-primary">Save profile</button>
				</div>
			</form> <!-- Form END -->
		</div>
	</div>
	</div>