@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "General Page";
    Layout = "_LayoutProfile";
}
<div class="container">
    <ul class="nav tab">
        <li class="nav-item"><button class="tablinks" onclick="openTab(event, 'General')">General</button></li>
        <li class="nav-item"><button class="tablinks" onclick="openTab(event, 'Details')">Details</button></li>
        <li class="nav-item"><button class="tablinks" onclick="openTab(event, 'Achievement')">Achievement</button></li>
    </ul>
</div>


<div id="General" class="info-form-general tabcontent">
    <div class="avatar-container-general">
        <div class="avatar-general"></div>
    </div>
    <div class="info-container-general">
        <form>
            <div class="mb-3">
                <label for="exampleInputName">Full Name</label>
                <input type="text" class="form-control" name="fullName" />
            </div>
            <div class="mb-3">
                <label for="exampleInputUserName">Username</label>
                <input type="text" class="form-control" name="userName" />
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail">Email</label>
                <input type="text" class="form-control" name="email" />
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
    <div class="password-form-general">
        <div class="password-container-general">
            <div class="form-label">
                <h3>Change your password</h3>
                <p>Make your password strong</p>
            </div>
            <form>
                <div class="mb-3">
                    <label for="exampleInputOldPwd">Old Password</label>
                    <input type="password" class="form-control" name="oldPwd" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputNewPwd">New Password</label>
                    <input type="password" class="form-control" name="newPwd" />
                </div>
                <button type="submit" class="btn btn-primary">Save Password</button>
            </form>
        </div>
    </div>
</div>




<!--details-->


<div id="Details" class="info-form-detail tabcontent">
    <form>
        <div class="form-item-detail">
            <div class="form-item-label-detail">
                <label for="inputFullName">Full Name</label>
            </div>
            <div class="form-item-field-detail">
                <input type="text" class="form-control" name="userName" />
            </div>
        </div>
        <div class="form-item-detail">
            <div class="form-item-label-detail">
                <label for="inputDob">Date of Birth</label>
            </div>
            <div class="form-item-field-detail">
                <select class="day-field form-select" name="dobDay"></select>
                <select class="month-field form-select" name="dobMonth"></select>
                <select class="year-field form-select" name="dobYear"></select>
            </div>
        </div>
        <div class="form-item-detail">
            <div class="form-item-label-detail">
                <label for="inpuGender">Gender</label>
            </div>
            <div class="form-item-field-detail">
                <select class="gender-field form-select" name="gender"></select>
            </div>
        </div>
        <div class="form-item-detail">
            <div class="form-item-label-detail">
                <label for="inpuBlood">Blood Group</label>
            </div>
            <div class="form-item-field">
                <select class="blood-field form-select" name="bloodType"></select>
            </div>
        </div>
        <div class="form-item-detail">
            <div class="form-item-label-detail">
                <label for="inpuGender">Last Donate Date</label>
            </div>
            <div class="form-item-field-detail">
                <select class="day-field form-select" name="days"></select>
                <select class="month-field form-select" name="months"></select>
                <select class="year-field form-select" name="years"></select>
            </div>
        </div>
        <div class="form-item-detail">
            <div class="form-item-label-detail">
                <label for="inpuGender">Phone Number</label>
            </div>
            <div class="form-item-field-detail">
                <input type="text" class="form-control" name="gender" />
            </div>
        </div>
        <div class="form-item-detail">
            <div class="form-item-label-detail">
                <label for="inpuGender">Email</label>
            </div>
            <div class="form-item-field-detail">
                <input type="text" class="form-control" name="gender" />
            </div>
        </div>
        <div class="form-item-detail">
            <div class="form-item-label-detail">
                <label for="inpuGender">Address</label>
            </div>
            <div class="form-item-field-detail">
                <input type="text" class="form-control" name="gender" />
            </div>
        </div>
        <div class="form-item-detail">
            <div class="form-item-button-detail">
                <button type="submit" class="btn btn-primary">
                    Save Changes
                </button>
            </div>
            <div class="form-item-field-detail"></div>
        </div>
    </form>
</div>

<div id="Achievement" class="info-form-achievement tabcontent">
   bla
</div>

