@page
@model SWP391_HealthCareProject.Views.Admin.IndexModel

@{
    ViewBag.Title = "Detail Page";
    Layout = "_LayoutAdmin";
}


<div class="container pt-3">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="table-responsive">
        <div class="table-wrapper" style="width:100%;background:white;filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border: 1px solid #B0B0B0;border-radius:18px">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Campaign Details</h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new" style="background-color:#FF6262"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Number of Volunteers</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Hoa La</td>
                        <td>22/1/2022</td>
                        <td>22/3/2022</td>
                        <td>150</td>
                        <td>
                            <a class="add" title="Add" data-toggle="tooltip"><i class="fa-solid fa-plus"></i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    

</div>