@model Campaign
@{
    ViewBag.Title = "Manage Campaign";
    Layout = "_LayoutAdminRH";
}

<div class="container pt-3">

    <!-- Page Heading -->
    <div class=" mb-4">
        <h1 class="h3 mb-0 text-gray-800">Manage Post</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #f9f8f8;padding:10px 0;">
                <li class="breadcrumb-item"><a href="/RH">Home</a></li>
                <li class="breadcrumb-item"><a href="/RH/ManageCampaign">Manage Campaign</a></li>
                <li class="breadcrumb-item active" aria-current="page">Create Campaign</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <h5 class="card-header">Create New Campaign</h5>
        <form method="post" asp-controller="RH" asp-action="StartCampaign">
        <div class="card-body custom-card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-text">Campaign Name</div>
                </div>
                <div class="col-md-9">
                    <input asp-for="Name" class="custom-input" type="text">
                </div>
            </div>
        </div>
        <div class="card-body custom-card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-text">Start Date</div>
                </div>
                <div class="col-md-9">
                        <input asp-for="StartDate" asp-format="{0:yyyy-MM-dd}" class="custom-input" type="date">
                </div>
            </div>
        </div>
        <div class="card-body custom-card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-text">End Date</div>
                </div>
                <div class="col-md-9">
                        <input asp-for="EndDate" asp-format="{0:yyyy-MM-dd}" class="custom-input" type="date">
                </div>
            </div>
        </div>
        <div class="card-body custom-card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-text">Province</div>
                </div>
                <div class="col-md-9">
                    <input asp-for="Province" class="custom-input" type="text">
                </div>
            </div>
        </div>
        <div class="card-body custom-card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-text">Select Plan</div>
                </div>
                <div class="col-md-9">
                    <select name="selectedPlan" class="custom-input">
                        @foreach(Plan plan in ViewBag.Plans){
                                string planSelect = $"{plan.Name}_{plan.PlanId}";
                                <option>
                                    @planSelect
                                </option>
                        }
                        
                    </select>
                </div>
            </div>
        </div>
        <div class="card-body custom-card-body">
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-primary" type="submit">Create Campaign</button>
                </div>
            </div>
        </div>
        </form>

    </div>
</div>