@page
@{
    ViewBag.Title = "Manage Post";
    Layout = "_LayoutAdminRH";
}

<div class="container pt-3">

    <!-- Page Heading -->
    <div class=" mb-4">
        <h1 class="h3 mb-0 text-gray-800">Manage Plan</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #f9f8f8;padding:10px 0;">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage Plan</li>
            </ol>
        </nav>
    </div>
    <a href="/RH/CreatePlan" type="button" class="btn btn-primary">Create A New Plan</a>

    <div class="mt-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold ">Manage Post</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Plan Name</th>
                                    <th>Expected Money Cost</th>
                                    <th>Expected Blood Amount</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Hoa La</td>
                                    <td>123213</td>
                                    <td>25231223</td>
                                    <td>Lorem ipsum</td>
                                    <td>
                                        <a class="add" title="Add" data-toggle="tooltip"><i class="fa-solid fa-plus"></i></a>
                                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


   
</div>