@page
@{
    ViewBag.Title = "Manage Post";
    Layout = "_LayoutAdminRH";
}

<div class="container pt-3">

    <!-- Page Heading -->
    <div class=" mb-4">
        <h1 class="h3 mb-0 text-gray-800">Manage Campaign</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #f9f8f8;padding:10px 0;">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage Campaign</li>
            </ol>
        </nav>
    </div>
   

    <div class="mt-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold ">Manage Volunteer Enroll Campaign</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Volunteer ID</th>
                                    <th>Volunteer Name</th>
                                    <th>Campaign ID</th>
                                    <th>Campaign Name</th>
                                    <th>Location</th>
                                    <th>Date</th>
                                    <th>Register Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Hoa La</td>
                                    <td>1</td>
                                    <td>Canh Cay</td>
                                    <td>Hoa Lac</td>
                                    <td>2/3/2022</td>
                                    <td>1/12/2021</td>
                                    <td>
                                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>